#chevron{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.chevron-der {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
   }

   .chevron-abaj{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

   }