#chevron{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.chevron-der {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
   }

   .chevron-abaj{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

   }


   .animation{
    animation-duration: 1s;
    animation-name: slidein;
    
   }

   .animation-out{
    animation-duration: 1s;
    animation-name: slideout;
   
   }

   @keyframes slidein {
    from {
      margin-right: 70%;
      width: 0px;  
    }
  
    to {
      margin-right: 5%;
      width: 120px; 
    }
  }

  
  @keyframes slideout {
    from {
      margin-right: 5%;
      width: 120px;  
    }
  
    to {
      margin-right: 70%;
      width: 0px; 
    }
  }


  .swal-wide{
    width:450px !important;
}

body.swal2-shown > [aria-hidden="true"] {
    filter: blur(10px);
  }

  #tabla-abonos{
    height: 5rem;
  }
 #tabla-abonos tbody {
   background-color: aliceblue;
 } 


 .toastr-container{
   z-index: 999999999999999999;
   background-color: cadetblue;
 }