.form-nueva-venta input{
    border: 1px solid gray;
    border-radius: 4px;
   
}

.card{
    width: 90%;
   
   
}


.form-nueva-venta{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
    width: 100%;
}

.area-venta{
    width: 100%;
    display: flex;
   justify-content: space-around;
   
}

.grupo-1{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.folio-fecha{
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    padding: 2vh;
    background-color:wheat;
    border-radius: 9px;
    border: 1px solid coral ;
}

.folio-fecha input{
    width:auto;
    padding: 5px;
    margin: 0px 5px;
}

.grupo-2{
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color:white;
  align-content: flex-start;
  border-radius: 10px;
  

}

.medidas-llanta{
    margin-top:2vh ;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}

.medidas-llanta label{
    width: 100%;
    
}

.contenedor-lista{
    width: 500px;
    background-color: white;
    border: 1px solid slateblue;
    border-radius: 9px;
    padding: 10px;
    /*margin-bottom: 2vh;*/
    display: block;
    margin-top: 55px;
    position: absolute;
    z-index: 10;
    animation: aparecer .1s;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    opacity: 1;
    overflow-y: auto;
    scroll-snap-align: start end;
  
}

@keyframes aparecer {
    from {
    visibility: hidden;
    opacity: 0.5;
    width: 0;
    height: 0;
  }
    to{
    visibility: visible; 
    width: 500px;
    opacity: 1;
  }
  }

#lista-busqueda{
    list-style: none;
}

#lista-busqueda li{
    margin: 4px 0px;
    cursor: pointer;
    padding: 8px;
}

#lista-busqueda li:hover{
    width: 400px;
    background-color: chocolate;
    color:white;
}

.oculto{
    display: none;
}



#bloqueado_label{
    background-color:  rgb(240, 230, 230);
}
.grupo-3{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: auto;
  
}


/*Reposo*/
.grupo-2 label .input-group{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
  
    
}

.grupo-2 label .select-group{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    
}

.grupo-2 label{
    display: block;
    width: 250px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2vh;
    transition: 0.15s;
    margin-left: 1vh;
}

.grupo-2 .input-corto {
    width: 150px;
}


.grupo-2 label span{
    font-size: 15px;
    color: gray;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: 0.15s;
}



/*Foco*/
.grupo-2 label.focus{
    border-color: tomato;
}

.grupo-2 label span.focus{
 color: tomato;
}

/*Top*/
.grupo-2 label span.top{
    left: 7px;
    top: -10px;
    font-size: 12px;
    background-color:white;
    padding: 0px 5px;
}



