.titulo-inventario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    padding: 7px 8px;
    padding:25px;
    border: 1px rgb(207, 200, 200) solid;
    margin: 50px;
}


.tokens{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:center;
    justify-content: center;
    text-align:center;
}
#token-actual{
    font-size: 25px;
    color: black;
    font-weight: bold;   
    
}

#token-administrativo{
    font-size: 25px;
    color: black;
    font-weight: bold;   
    
}
.container-fluid{
    height: 75vh;
}
@media (max-width: 1150px) {
    .container-fluid{
        height: auto;
    }
    #token-actual{
        font-size: 15px;
        color: black;
        font-weight: bold;   
        
    }
    
    #token-administrativo{
        font-size: 15px;
        color: black;
        font-weight: bold;   
        
    }

    .botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }