.titulo-inventario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    padding: 7px 8px;
    padding:25px;
    border: 1px rgb(207, 200, 200) solid;
    margin: 50px;
}

.container-fluid{
    height: 50vh;
}
.tokens{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:center;
    justify-content: center;
    
    text-align:center;
}
#token-actual{
    font-size: 25px;
    color: black;
    font-weight: bold;   
    
}